main {
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

i {
  color: map-get($colours, icon);
  margin-bottom: 15px;
}

header {
  border-bottom: 1px solid map-get($colours, icon);
  font-weight: 700;
}

.navbar {
  .nav-icons {
    .nav-icon {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        color: map-get($colours, icon);
      }
    }
  }
}

@media (min-width: 992px) {
  .custom-max-width {
    max-width: 60%;
    margin-inline: auto;
  }
}
