@import "variables";
@import "layout";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: map-get($colours, primary);
  color: map-get($colours, text);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
.btn {
  font-family: "Poppins", sans-serif;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

.number {
  font-family: "Space Mono", monospace;
}

.winner {
  color: map-get($colours, secondary);
}

.alert {
  color: map-get($colours, third);
  text-align: center;
}

.btn {
  background-color: map-get($colours, icon);
  border-color: map-get($colours, icon);
  color: map-get($colours, primary);

  &:hover {
    background-color: map-get($colours, primary);
    border-color: map-get($colours, icon);
    color: map-get($colours, icon);
  }
}

.login {
  border-color: map-get($colours, icon);
}

#toggleAuthMode {
  font-size: smaller;
  color: map-get($colours, text);
}
